@model SETZ.Models.MainProductModel
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Товары";
    Layout = "~/Views/Shared/_custom_layout.cshtml";
}

<style>
    ul.hr {
        float:right;
        margin: 0; /* Обнуляем значение отступов */
        padding: 4px; /* Значение полей */
    }

        ul.hr li {
            display: inline; /* Отображать как строчный элемент */
            padding: 1px; /* Поля вокруг текста */
        }
</style>
<!--content-->
<div class="product">
    <div class="container">
        <div class="col-md-9">
            <div class="women">
                <ul class="hr">
                    <li>Сортировать по: </li>
                    <!-- <li><a class="active" href="#">popular</a></li> | -->
                    @if (ViewBag.CurrentSort == null)
                    {
                        <li><a style="color: #F40B5D ; " href="@Url.Action("Index", "Product", new {brand=ViewBag.CurrentBrand, section = ViewBag.Section, subSection=ViewBag.SubSection, category = ViewBag.CurrentCategory, subCategory = ViewBag.CurrentSubCategory })">новинкам</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Index", "Product", new { brand = ViewBag.CurrentBrand, section = ViewBag.Section, subSection=ViewBag.SubSection, category = ViewBag.CurrentCategory, subCategory = ViewBag.CurrentSubCategory })">новинкам</a></li>
                    } |

                    @if (ViewBag.CurrentSort == "discount")
                    {
                        <li><a style="color: #F40B5D ; " href="@Url.Action("Index", "Product", new { sortType = "discount", brand = ViewBag.CurrentBrand, section = ViewBag.Section, subSection=ViewBag.SubSection, category = ViewBag.CurrentCategory, subCategory = ViewBag.CurrentSubCategory })">скидкам</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Index", "Product", new { sortType = "discount", brand = ViewBag.CurrentBrand, section = ViewBag.Section, subSection=ViewBag.SubSection, category = ViewBag.CurrentCategory, subCategory = ViewBag.CurrentSubCategory })">скидкам</a></li>
                    } |

                    @if (ViewBag.CurrentSort == "price")
                    {
                        <li><a style="color: #F40B5D ; " href="@Url.Action("Index", "Product", new { sortType = "price", brand = ViewBag.CurrentBrand, section = ViewBag.Section, subSection=ViewBag.SubSection, category = ViewBag.CurrentCategory, subCategory = ViewBag.CurrentSubCategory })">возрастанию цены</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Index", "Product", new { sortType = "price", brand = ViewBag.CurrentBrand, section = ViewBag.Section, subSection=ViewBag.SubSection, category = ViewBag.CurrentCategory, subCategory = ViewBag.CurrentSubCategory })">возрастанию цены</a></li>
                    } |

                    @if (ViewBag.CurrentSort == "price_desc")
                    {
                        <li><a style="color: #F40B5D ; " href="@Url.Action("Index", "Product", new { sortType = "price_desc", brand = ViewBag.CurrentBrand, section = ViewBag.Section, subSection=ViewBag.SubSection, category = ViewBag.CurrentCategory, subCategory = ViewBag.CurrentSubCategory })">убыванию цены</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Index", "Product", new { sortType = "price_desc", brand = ViewBag.CurrentBrand, section = ViewBag.Section, subSection=ViewBag.SubSection, category = ViewBag.CurrentCategory, subCategory = ViewBag.CurrentSubCategory })">убыванию цены</a></li>
                    }


                    <div class="clear"></div>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="mid-popular">
                @foreach (var item in Model.products)
                {
                    <div class="col-md-4 item-grid1 simpleCart_shelfItem">
                        <div class=" mid-pop">
                            <div class="pro-img" style="width:100%; padding-top:130%; position:relative; overflow:hidden;">
                                <img src="@Url.Content("~/Images/Product/")@item.Image" class="img-responsive" alt="" style="position:absolute; right:0; top:0; left:0; bottom:0; height:100%; width: auto!important; max-width:none;">
                                <div class="zoom-icon ">
                                    <a href="@Url.Content("~/Images/Product/")@item.Image" rel="title" class="picture b-link-stripe b-animate-go  thickbox"><i class="glyphicon glyphicon-search icon "></i></a>
                                    <a href="@Url.Action("Detail", "Product", new { id = item.ID })"><i class="glyphicon glyphicon-menu-right icon"></i></a>
                                </div>
                            </div>
                            <div class="mid-1">
                                <div class="women">
                                    <div class="col-sm-9 women-top" style="padding:0;">
                                        @if (item.BrandID != null)
                                        {
                                            <span>@item.BrandName</span>
                                        }
                                        
                                        <h6><a href="@Url.Action("Detail", "Product", new { id = item.ID })">@item.Name</a></h6>
                                    </div>
                                    <div class="col-sm-3 img item_add" style="padding:0;">
                                        <a href="#"><img src="@Url.Content("~/Images/")ca.png" alt=""></a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="mid-2">
                                    @if (item.Discount!=null && item.Discount > 0)
                                    {
                                        int newPrice = item.Price * (100 - item.Discount) / 100 ?? 100;
                                        <p><label>@item.Price</label><em class="item_price">@newPrice Сом</em></p>
                                    }
                                    else
                                    {
                                        <p><em class="item_price">@item.Price Сом</em></p>
                                    }
                                    
                                    <div class="block">
                                        <!--
                                        <div class="starbox small ghosting"> </div>    
                                        -->
                                    </div>

                                    <div class="clearfix"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                }
                <div class="clearfix"></div>
                <ul class="women_pagenation" style="float:right;">
                    Стр @(Model.products.PageCount < Model.products.PageNumber ? 0 : Model.products.PageNumber) из @Model.products.PageCount

                    @Html.PagedListPager(Model.products, page => Url.Action("Index", "Product", new { page, sortType = ViewBag.CurrentSort, brand = ViewBag.CurrentBrand, section = ViewBag.Section, subSection=ViewBag.SubSection, category = ViewBag.CurrentCategory, subCategory = ViewBag.CurrentSubCategory }))
                </ul>
            </div>
        </div>
        <div class="col-md-3 product-bottom">
            @Html.Action("SideBar", "Home", new { section = ViewBag.Section, subSection = ViewBag.SubSection })
        </div>
        <div class="clearfix"></div>
    </div>
</div>

