@model SETZ.Models.AdminModel
@{
    ViewBag.Title = "Index";
}

<style>
    .accordion label {
        display: block;
        padding: 1rem;
        background: #6CB672;
        color: #fff;
        margin-bottom: 2px;
        -webkit-transition: all .25s ease-in;
        transition: all .25s ease-in;
    }

       /*
           .accordion label:focus, .accordion label:hover {
               background: #6CB672;
           }

       */


       .accordion label {
           cursor: pointer;
       }

       /**
    * Styling first level lists items
    */

    .group-list label {
        color: #fff;
        background: #337ab7;
        margin: 1px;
    }

       /*
           .group-list label:focus, .group-list label:hover {
               color: #fff;
               background: #6CB672;
           }

       */


       /**
    * Styling second level list items
    */

    .sub-group-list label {
        color: #333;
        background: #EFECEC;
        margin: 1px;
    }
       /*
           .sub-group-list label:focus, .sub-group-list label:hover {
               color: #333;
               background: #fff;
           }

       */



    .sub-sub-group-list label {
        background: #fff;
        border: 1px solid #EFECEC;
    }

         

       .group-list, .sub-group-list, .sub-sub-group-list {
           height: 100%;
           max-height: 0;
           overflow: hidden;
           -webkit-transition: max-height .5s ease-in-out;
           transition: max-height .5s ease-in-out;
       }

       .nav__list input[type=checkbox]:checked + label + ul { /* reset the height when checkbox is checked */
           max-height: 1000px;
       }


       label > span {
           float: right;
           -webkit-transition: -webkit-transform .65s ease;
           transition: transform .65s ease;
       }

       .nav__list input[type=checkbox]:checked + label > span {
           -webkit-transform: rotate(90deg);
           -ms-transform: rotate(90deg);
           transform: rotate(90deg);
       }
</style>

<div class="container">
    <div class="main">
        <!-- start registration -->
        <div class="registration">
            <div class="col-md-6">
                <div class="page-header">
                    <h4>Разделы и категории</h4>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Добавить раздел</h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("CreateSection", "Admin", FormMethod.Post, new { @class = "form-inline" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.section.Name, new { placeholder = "Название раздела", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.section.Name)
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.section.Order, new { placeholder = "Позиция", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.section.Order)
                            </div>
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.section.Visibility)
                                Активировать
                                @Html.ValidationMessageFor(model => model.section.Visibility)
                            </div>
                            <input style="float:right;" type="submit" class="btn btn-default" value="Добавить" id="register-submit">
                        }
                    </div>
                </div>
                <div>
                    @foreach (var sectionModel in Model.sectionModels)
                    {
                        string sectionedit = "section-edit-" + sectionModel.section.ID;
                        string sectioneditDelete = "section-delete-" + sectionModel.section.ID;
                        <div style="display: none;" id="@sectionedit">
                            @Html.Partial("EditSection", sectionModel.section)
                        </div>
                        <div style="display: none;" id="@sectioneditDelete">
                            @Html.Partial("DeleteSection", sectionModel.section)
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-body page-header">
                                    <h3>@sectionModel.section.Name</h3>
                                <div style="float:right">
                                    <button class="btn btn-1 btn-warning" onclick="showhide('@sectionedit', '@sectioneditDelete')">Редактировать</button>
                                    <button class="btn btn-1 btn-danger" onclick="showhide('@sectioneditDelete', '@sectionedit')">Удалить</button>
                                </div>
                            </div>
                        </div>
                        
                        <div style="padding-left:2rem;">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Добавить подраздел в раздел @sectionModel.section.Name</h3>
                                </div>
                                <div class="panel-body">
                                    @using (Html.BeginForm("CreateSubSection", "Admin", new { id = sectionModel.section.ID }, FormMethod.Post, new { @class = "form-inline" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true)
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.subSection.Name, new { placeholder = "Название подраздела", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.subSection.Name)
                                        </div>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.subSection.Order, new { placeholder = "Позиция", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.subSection.Order)
                                        </div>
                                        <div class="form-group">
                                            @Html.CheckBoxFor(model => model.subSection.Visibility)
                                            Активировать
                                            @Html.ValidationMessageFor(model => model.subSection.Visibility)
                                        </div>
                                        <input style="float:right;" type="submit" class="btn btn-default" value="Добавить" id="register-submit">

                                    }
                                </div>
                            </div>
                            @foreach (var subSectionModel in sectionModel.subSectionModels)
                            {
                                string subSectionedit = "subSection-edit-" + subSectionModel.subSection.ID;
                                string subSectiondelete = "subSection-delete-" + subSectionModel.subSection.ID;
                                <div style="display: none;" id="@subSectionedit">
                                    @Html.Partial("EditSubSection", subSectionModel.subSection)
                                </div>
                                <div style="display: none;" id="@subSectiondelete">
                                    @Html.Partial("DeleteSubSection", subSectionModel.subSection)
                                </div>
                                <div class="panel panel-info">
                                    <div class="panel-body">
                                       <h1>@Html.DisplayFor(model => subSectionModel.subSection.Name)</h1>
                                        <div style="float:right">
                                            <button class="btn btn-1 btn-warning" onclick="showhide('@subSectionedit', '@subSectiondelete')">Редактировать</button>
                                            <button class="btn btn-1 btn-danger" onclick="showhide('@subSectiondelete', '@subSectionedit')">Удалить</button>
                                        </div>
                                    </div>
                                </div>
                                <div style="padding-left:2rem; border: 1px solid #ddd">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Добавить категорию в подраздел @subSectionModel.subSection.Name</h3>
                                        </div>
                                        <div class="panel-body">
                                            @using (Html.BeginForm("CreateCategory", "Admin", new { id = subSectionModel.subSection.ID }, FormMethod.Post, new { @class = "form-inline" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                @Html.ValidationSummary(true)
                                                <div class="form-group">
                                                    @Html.TextBoxFor(model => model.category.Name, new { placeholder = "Название категории", @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.category.Name)
                                                </div>
                                                <div class="form-group">
                                                    @Html.TextBoxFor(model => model.category.Order, new { placeholder = "Позиция", @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.category.Order)
                                                </div>
                                                <div class="form-group">
                                                    @Html.CheckBoxFor(model => model.category.Visibility)
                                                    Активировать
                                                    @Html.ValidationMessageFor(model => model.category.Visibility)
                                                </div>
                                                <input  style="float:right;" type="submit" class="btn btn-default" value="Добавить" id="register-submit">

                                            }
                                        </div>
                                    </div>
                                    @foreach (var cartegory in subSectionModel.categoryModels)
                                    {
                                        string categoryedit = "category-edit-" + cartegory.category.ID;
                                        string categorydelete = "category-delete-" + cartegory.category.ID;
                                        <div style="display: none;" id="@categoryedit">
                                            @Html.Partial("EditCategory", cartegory.category)
                                        </div>
                                        <div style="display: none;" id="@categorydelete">
                                            @Html.Partial("DeleteCategory", cartegory.category)
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <h3>@Html.DisplayFor(model => cartegory.category.Name)</h3>
                                                <div style="float:right">
                                                    <button class="btn btn-sm btn-warning" onclick="showhide('@categoryedit', '@categorydelete')">Редактировать</button>
                                                    <button class="btn btn-sm btn-danger" onclick="showhide('@categorydelete', '@categoryedit')">Удалить</button>
                                                </div>
                                            </div>
                                        </div>
                                        /*
                                        <div style="padding-left:2rem; display:none;">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Добавить подкатегорию в категорию @cartegory.category.Name</h3>
                                                </div>
                                                <div class="panel-body">
                                                    @using (Html.BeginForm("CreateSubCategory", "Admin", new { id = cartegory.category.ID }, FormMethod.Post, new { @class = "form-inline" }))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        @Html.ValidationSummary(true)
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(model => model.subCategory.Name, new { placeholder = "Название подкатегории", @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.subCategory.Name)
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(model => model.subCategory.Order, new { placeholder = "Позиция", @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.subCategory.Order)
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.CheckBoxFor(model => model.subCategory.Visibility)
                                                            Активировать
                                                            @Html.ValidationMessageFor(model => model.subCategory.Visibility)
                                                        </div>
                                                        <input type="submit" class="btn btn-default" value="Добавить" id="register-submit">

                                                    }
                                                </div>
                                            </div>
                                            @foreach (var subCategory in cartegory.subCategories)
                                            {
                                                string subcategoryedit = "subcategory-edit-" + subCategory.ID;
                                                string subcategorydelete = "subcategory-delete-" + subCategory.ID;
                                                <div style="display: none;" id="@subcategoryedit">
                                                    @Html.Partial("EditSubCategory", subCategory)
                                                </div>
                                                                    <div style="display: none; " id="@subcategorydelete">
                                                                        @Html.Partial("DeleteSubCategory", subCategory)
                                                                    </div>
                                                                    <div class="panel panel-danger">
                                                                        <div class="panel-body">
                                                                            <h4>@Html.DisplayFor(model => subCategory.Name)</h4>
                                                                            <div style="float:right">
                                                                                <button class="btn btn-xs btn-warning" onclick="showhide('@subcategoryedit', '@subcategorydelete')">Редактировать</button>
                                                                                <button class="btn btn-xs btn-danger" onclick="showhide('@subcategorydelete', '@subcategoryedit')">Удалить</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                            }
                                        </div>
                                        */
                                    }
                                </div>
                            }
                        </div>
                    }
                </div>

            </div>

            <div class="col-md-6">
                <div class="page-header">
                    <h4>Бренды</h4>
                </div>
                @Html.Partial("CreateBrand", Model.brandModel)
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <colgroup>
                            <col class="col-xs-1">
                            <col class="col-xs-7">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>LOGO</th>
                                <th>Brand Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var brandModel in Model.brands)
                            {
                                string brandbrand = "brand-brand-" + brandModel.brand.ID;
                                string brandedit = "brand-edit-" + brandModel.brand.ID;
                                string branddelete = "brand-delete-" + brandModel.brand.ID;
                                <tr>
                                    <th scope="row" style="height:100px;">
                                        <code><img src="@Url.Content("~/Images/Brand/")@brandModel.brand.Image" style="height:100%;" /></code>
                                    </th>
                                    <td style="height:80px;">
                                        <div id="@brandbrand">
                                            <h3>@Html.DisplayFor(model => brandModel.brand.Name) </h3>
                                            <div style="float:right">
                                                <button class="btn btn-sm btn-warning" onclick="showBrand('@brandedit', '@branddelete', '@brandbrand' )">Редактировать</button>
                                                <button class="btn btn-sm btn-danger" onclick="showBrand('@branddelete', '@brandedit', '@brandbrand')">Удалить</button>
                                            </div>
                                        </div>
                                        <div id="@brandedit" style="display:none;">
                                            @Html.Partial("EditBrand", brandModel)
                                        </div>
                                        <div id="@branddelete" style="display:none;">
                                            @Html.Partial("DeleteBrand", brandModel)
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
    function show(id) {
        var elem = document.getElementById(id);
        console.log(elem);
        elem.style.display = 'block';
    }
    function hide(id) {
        var elem = document.getElementById(id);
        elem.style.display = 'none';
    }
    function showhide(id1, id2) {
        show(id1);
        hide(id2);
    }
    function showBrand(id1, id2, id3) {
        show(id1);
        hide(id2);
        hide(id3);
    }
    function openUpload(id) {
        var input = document.getElementById(id);
        input.click();
        input.onclick = function () {
            this.value = null;
        };
        var spanID = id + "-span";
        var span = document.getElementById(spanID);
        input.onchange = function () {
            span.innerHTML = this.value;
        };
    }


</script>
